<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>algo-deck</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <link rel="stylesheet" href="index2.css">

</head>
<body> <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>

    <div class="container-fluid text-center outer">
        
<lord-icon
    src="https://cdn.lordicon.com/dzllstvg.json"
    trigger="loop"
    colors="primary:#121331,secondary:#915110"
    stroke="62"
    scale="47"
    style="width:250px;height:250px">
</lord-icon>

 <h1>Algo-Desk</h1>

    </div>





    <div class="container-fluid d-flex justify-content-around flex-wrap">








        <div class="jumbotron p-2 flex-fill header text-center">
            
            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/wxnxiano.json"
    trigger="hover"
    colors="primary:#121331,secondary:#08a88a"
    style="width:150px;height:150px">
</lord-icon>
<h3>Search</h3>

        </div>







        <div class="jumbotron p-2 flex-fill header text-center">
            

            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/kbtmbyzy.json"
    trigger="hover"
    colors="primary:#121331,secondary:#08a88a"
    style="width:150px;height:150px">
</lord-icon>
<h3>Sorting</h3>

        </div>









        <div class="jumbotron p-2 flex-fill header text-center">
            

            <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/sbiheqdr.json"
    trigger="hover"
    colors="primary:#121331,secondary:#08a88a"
    style="width:150px;height:150px">
</lord-icon>
<h3>backtrack</h3>

        </div>






    </div>























    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>